<div class="jumpotron">
  <div class="container center head_banner">
    <h1><%= t "app_name" %></h1>
    <h2>
      <%= t ".introduction", app_name: t("app_name") %>
    </h2>
    <% unless logged_in? %>
      <%= link_to t(".signup_button"), signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
<% if logged_in? %>
  <div class="container">
    <% if @activity_items.any? %>
      <ol class="activities">
        <%= render @activity_items %>
      </ol>
      <%= will_paginate @activity_items %>
    <% end %>
  </div>
<% end %>
<div class="container">
  <%= link_to image_tag("book.png", alt: t(".alt_image")), "#" %>
</div>
