<% provide :title, t("signup") %>
<% provide :button_text, t("sign_me_up") %>
<div class="container">
  <h1><%= t "signup" %></h1>
  <%= render "shared/error_messages", object: @user %>
  <div class="signup-box">
    <div class="left">
      <%= render "form" %>
    </div>

    <div class="right">
      <span class="loginwith"><%= t "social_signin" %></span>
      <button class="social-signin facebook"><%= t "log_in_with_facebook" %></button>
      <button class="social-signin twitter"><%= t "log_in_with_twitter" %></button>
      <button class="social-signin google"><%= t "log_in_with_google" %></button>
    </div>
    <div class="or"><%= t "or" %></div>
  </div>
</div>
