<div class="container">
  <aside class="col-md-5">
    <div class="arthor-detail-column">
      <div class="arthor-img">
        <%= image_tag @user.avatar, alt: @user.full_name if @user.avatar? %>
        <% if current_user? @user %>
          <%= link_to t("edit_profile"), edit_user_path(@user) , class: "edit-tag" %>
        <% end %>
      </div>
      <div class="user-show">
      <%= render "follow_form" %>
      <%= render "stats", object: @user %>
      </div>
    </div>
  </aside>
  <ol class="activities"><%= render @activities %></ol>
  <%= will_paginate @activities, param_name: :activity_page %>
  <table class="table">
  <thead>
    <tr>
      <th><%= t "create_at" %></th>
      <th><%= t "user_name" %></th>
      <th><%= t "book_title" %></th>
      <th><%= t "request_status" %></th>
    </tr>
  </thead>
    <%= render @buy_requests %>
  </table>
  <%= will_paginate @buy_requests, param_name: :buy_request_page %>
</div>
