<div class="container">
  <%= image_tag @book.cover_image, alt: @book.title, class: "avatar-book" if @book.cover_image %>
  <div class="book-right">
    <p><%= t "title" %> : <%= @book.title %></p>
    <p><%= t "author" %> : <%= @book.author %></p>
    <p><%= t "summary" %> :</p>
    <p><%= @book.summary %></p>
  </div>
  <h4><%= t "review" %></h4>
  <div class="review"><%= render "reviews/review_form" %></div>
  <% if @reviews.any? %>
    <div class="review_form"><%= render @reviews %></div>
  <% else %>
    <div><%= t "dont_have_review" %></div>
  <% end %>
</div>
