<li>
  <%= activity.user.full_name %> <%= had activity %>
  <div id="activity-<%= activity.id %>">
    <% if current_user.liked? activity %>
      <%= render "users/unlike", activity: activity %>
    <% else %>
      <%= render "users/like", activity: activity %>
    <% end %>
  </div>
</li>
