<% if review.id %>
  <ul id="review-<%= review.id %>" class = "review-p">
    <li>
      <span class="user"><%= link_to review.user.full_name, review.user %></span>
      <p class="review-p"><%= review.content %></p>
      <span class="timestamp">
        <%= t "posted" %> <%= time_ago_in_words(review.created_at) %> <%= t "ago" %>.
      </span>
    </li>
    <li>
      <ul>
        <div id="rv-comments-<%= review.id %>"><%= render load_comment review %></div>
        <li class="comment" id="cm-form-<%= review.id %>">
          <%= render "comments/comment_form", review: review %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>
